<div class="col-sm-8 col-sm-offset-2 center">
  
  <div class="content-container">
    
    <div class="panel-primary">
      <div class="panel-title">
       Editing Study Material
      </div>
    </div>

    <div class="panel-body form-container">
    	<%= render 'form' %>
		</div>

  </div>

  <%= link_to 'Cancel', :back %>
  <% if @study_material.video_content != nil %> | 
    <%= link_to "Edit Video Content", edit_video_content_path(@study_material.video_content) %>
  <% end %>
  <% if false %> | 
    <%= link_to "Edit Interactive Content", edit_interactive_content_path(@study_material.interactive_content) %>
  <% end %>  
</div>
