<%= javascript_include_tag "add_image_fields" %>

<div class="col-sm-10 col-sm-offset-1 center">
  
  <div class="content-container">
    
    <div class="panel-green">
      <div class="panel-title">
      	Editing Assessment Content
      </div>
    </div>

    <div class="panel-body form-container">
    	<%= render "form_#{@assessment_content.content_type}" %>
	  </div>

	</div>

	<%= link_to 'Show', @assessment_content %> |
  <%= link_to 'Back', video_content_path(@assessment_content.video_content) %>
</div>