<%= javascript_include_tag "add_image_fields" %>

<div class="col-sm-8 col-sm-offset-2 center">
  
  <div class="content-container">
    
    <div class="panel-green">
      <div class="panel-title">
      	Adding New Assessment Content
      </div>
    </div>

    <div class="panel-body form-container">
    	<%= render "form_#{params[:content_type]}" %>
	  </div>

	</div>

  <%= link_to 'Cancel', :back %>

</div>