<div class="col-sm-8 col-sm-offset-2 center">
  <div class="content-container">
    <%= render "show_#{@assessment_content.content_type}" %>
  </div>
  <%= link_to 'Edit', edit_assessment_content_path(@assessment_content) %> |
  <%= link_to 'Back to Ezee Video', video_content_path(@assessment_content.video_content) %>
</div>