<div class="content-container">
	
	<% if user_signed_in? %>
		<div class="panel-green">
	    <div class="panel-title">
		  	Take Control!
	    </div>
		</div>

		<div class="panel-body center">
			<div class="comment-container" style="margin: -13px -15px 17px;">
				150+ Videos, 60+ 3D Models & Visual Notes, 1500+ Q&As
			</div>
			<h3>Maths & Science</h3>
			<h2 class="font-green" style="margin-bottom:16px;">31 chapters</h2>
			<h3>Hacker Approach</h3>
			<h2 class="font-green" style="margin-bottom:20px;">Stepped Learing<br>Predictive Score</h2>

			<%= link_to "UPGRADE NOW", pricing_path, class: "btn btn-block btn-green active" %>
		</div>

	<% else %>
		<div class="panel-green">
	    <div class="panel-title">
		  	Try our FREE ...
	    </div>
		</div>

		<div class="panel-body center">
			<div class="comment-container" style="margin: -13px -15px 17px;">
				Videos, 3D Models, Visual Notes, MCQs and Subjective Qs for
			</div>
			<h3>Maths & Science</h3>
			<h2 class="font-green" style="margin-bottom:16px;">Two complete chapters each</h2>
			<h3>Maths & Science</h3>
			<h2 class="font-green" style="margin-bottom:20px;">Mock FAs</h2>
			
			<%= link_to "UNLOCK NOW", new_user_registration_path, class: "btn btn-block btn-green active" %>
		</div>
	
	<% end %>
</div>