<div class="content-container">
		<div class="panel-red">
		    <div class="panel-title">
			   What's inside?
		    </div>
		</div>
		<div class="panel-body">
			<h2><b>For 8th CBSE</b></h2>
			<h3 style="line-height: 1.65em;">
				6 Subjects<br>
				96 Chapters<br>
				725 Goals<br>
				- 305 Videos<br>
				- 150 3D-Models<br>
				- 105 Visual Notes<br>
				- 10,000+ Questions<br>
			</h3>
			<%= link_to "Upgrade Now", "#", class: "btn btn-block btn-modal-red" %>
		</div>
	</div>

	<div class="content-container">
		<div class="panel-green">
		    <div class="panel-title">
			   Speak to Us
		    </div>
		</div>
		<div class="panel-body">
			<h2><b>0-992-291-5273</b></h2>
			<h3 style="line-height: 1.65em;">
				10am - 7pm
			</h3>
		</div>
	</div>