<div class="col-xs-12 col-sm-3" style="padding:0px;">
	<div class="secondary-nav">
		<h2>What's inside?</h2>
	</div>
</div>

<div class="col-xs-12 col-sm-9">

	<div class="secondary-nav secondary-nav-invert">
		<h1 class="font-invert pull-left"><i class="fa fa-fw fa-home"></i></h1>
		<h2 class="font-invert"><b>Hi Shivam!</b></h2>
		<h3 class="font-invert">We will help you study smart & complete your goals today ...</h3>
	</div>

	<% @subjects.each do |subject| %>
		<a href="<%= subject_path(subject) %>" class="supress-a">
			<div class="subject-card">
				<h2><b><%= subject.name %></b></h2>
				<h3><%= subject.chapters.count %> Chapters</h3>
			</div>
		</a>
	<% end %>
</div>