
<div class="panel-primary">
    <div class="panel-title">
	   Textbook
    </div>
</div>

<div class="panel-body">
	<ul class="content-list">
		<% @subject.chapters.sort_by(&:chapterNumber).each do |chapter| %>

			<a href="<%= chapter_path(chapter) %>" class="supress-a">
				<li class="content-list-item">
					<% if chapter.status == "Paid" %>
							<i class="fa fa-2x fa-lock content-list-icon-default pull-left"></i>
					<% else %>
						<i class="fa fa-2x fa-check content-list-icon-<%= ["default", "primary", "green", "orange", "red"].sample %> pull-left"></i>
					<% end %>
					<h3>Chapter <%= chapter.chapterNumber%></h3>
					<h2><%= chapter.name %></h2>
				</li>
			</a>
			
		<% end %>
	</ul>
</div>