
	<div class="content-container">

		<div class="panel-group" id="accordion-progress" role="tablist" aria-multiselectable="true">
			
			<div class="panel panel-default">
				<a class="collapsed supress-a" data-toggle="collapse" data-parent="#accordion-progress" href="#ProgressOne" aria-expanded="true" aria-controls="ProgressOne">
				  <div class="panel-secondary" role="tab" id="headingOne">
				    <div class="panel-title">
				    	Chapter Weightage
				    	<i class="fa fa-fw fa-sort pull-right" style="margin: 3px -5px 0 0;"></i>
				    </div>
				  </div>
			  </a>
			  <div id="ProgressOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			    <div class="panel-body">
						<div class="cpi-status font-primary">7-10 marks</div>
						<div class="comment-container">
							It indicates how much the chapter is<br> 
							worth out-of-90 in your Summative<br>
							Assessment Exam (SA 1)
						</div>
			    </div>
			  </div>
			</div>

			<div class="panel panel-default">
			  <a class="collapsed supress-a" data-toggle="collapse" data-parent="#accordion-progress" href="#ProgressTwo" aria-expanded="false" aria-controls="ProgressTwo">
			  	<div class="panel-secondary" role="tab" id="headingTwo">
				    <div class="panel-title">
				    	Your Preparation
				    	<i class="fa fa-fw fa-sort pull-right" style="margin: 3px -5px 0 0;"></i>
				    </div>
				  </div>
				 </a>
			  <div id="ProgressTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
			    <div class="panel-body">
						<div class="cpi-status font-orange">WEAK</div>
						<div class="comment-container">
							Chapter Preparedness Index (CPI)<br>
							indicates that you are likely to<br>
							score around 50% 
						</div>
			    </div>
			  </div>
			</div>

			<div class="panel panel-default">
			  <a class="collapsed supress-a" data-toggle="collapse" data-parent="#accordion-progress" href="#ProgressThree" aria-expanded="false" aria-controls="ProgressThree">
				  <div class="panel-secondary" role="tab" id="headingThree">
				    <div class="panel-title">
				    	Next Steps
				    	<i class="fa fa-fw fa-sort pull-right" style="margin: 3px -5px 0 0;"></i>
				    </div>
				  </div>
			  </a>
			  <div id="ProgressThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			    <div class="panel-body">


						<div class="cpi-steps">
							<i class="fa fa-lg fa-trophy pull-left cpi-level-0"></i>
							<i class="fa fa-lg fa-trophy pull-left cpi-level-1"></i>
							<i class="fa fa-lg fa-trophy pull-left cpi-level-2"></i>
							<i class="fa fa-lg fa-trophy pull-left cpi-level-lock"></i>
							<i class="fa fa-lg fa-trophy pull-left cpi-level-lock"></i>
						</div>
						
						<div class="cpi-goal">	
							<div class="pull-left">Concepts</div>
							<div class="pull-right">3/6</div>
							<div class="progress">
							  <div class="progress-bar progress-bar-2" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
							    <span class="sr-only">60% Complete</span>
							  </div>
							</div>
						</div>

						<div class="cpi-goal">	
							<div class="pull-left">MCQs correct</div>
							<div class="pull-right">1/5</div>
							<div class="progress">
							  <div class="progress-bar progress-bar-2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
							    <span class="sr-only">20% Complete</span>
							  </div>
							</div>
						</div>

						<div class="cpi-goal">	
							<div class="pull-left">Subjective Qs studied</div>
							<div class="pull-right">3/12</div>
							<div class="progress">
							  <div class="progress-bar progress-bar-2" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
							    <span class="sr-only">25% Complete</span>
							  </div>
							</div>
						</div>

						<div class="comment-container" style="margin-top:15px;">
							Our recommended next steps<br> 
							to take your CPI to the next level
						</div>
			    </div>
			  </div>
			</div>

		</div>

	</div>
